html {
  height: 100%;
  width: 100%;
}
a{
  padding-right:30px; 
}

h1.one{
  color:white;
  text-type:bold;
  font-family:cormorant;
  font-size:50px;
  padding-left:5px;
  padding-right:5px;
}

h1.two{
  color:white;
  text-type:bold;
  font-family:cormorant;
  font-size:50px;
  text-align:right;
  padding-left:5px;
  padding:right:5px;
}

h1.grid-item1{
  font-size:100px;
}
h2{
  color:white;
  font-family:bentham;
}
h2.div.grid-item2{
  color:black;
}

h3{
  font-size:60px;
  font-family:bentham;
}

p{
  font-family:bentham;
  text-align:left;
  font-size:20px;
}


#bannerimg1{
  width:200px;
  height:200px;
}
#bannerimg2{
  width:200px;
  height:200px;
}

#torotoro{
  width:300px;
  height:400px;
  transition:filter 1s;
  padding:5px;
}
#tokyoDisney{
  width:350px;
  height:500px;
  transition:filter 1s;
  padding:5px;
}

 img:hover{
   filter:brightness(70%);
 }
background-image:hover{
  filter:saturation(70%);
}


.header{
  border:1px solid;
  background-image:url("images/aj-McsNra2VRQQ-unsplash.jpg");
  background-size:auto;
}

table{
   font-size:14px;
   margin:15px;
   background-color:white;
   align:left; 
 }

.importantDate{
  background-color:#b6d8d8;
}

.importantHeading{
  background-color:#b3b3df;
}

/***code for responsive navbar***/

.navbar{
  border: 1px solid;
  width:150%;
  background-color:#B56E64;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #d2bcbc;
}

.navbar a.active{
  background-color: #7c5f71;
  text-decoration:underline;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container{
  display:grid;
  border:1px solid;
  grid-template:5000px/2000px/auto/2000px;
  background-color:ivory;
}

.grid-item1{
  grid-area:2/1/span 1/auto;
  padding:15px;
}

.grid-item2{
  grid-area:2/2/span 1/ span 2;
  padding:15px;
}

.grid-item3{
  grid-area:3/1/auto/span 2 ;
  text-align:center;
}



.footer{
  grid-area:6/-1/auto/span 3;
  background-color:#B56E64;
}

/***mobile device display***/
@media screen and (max-width :600px) {
  
  div.container{
    display:inline-grid;
  }
  div.header{
    width:700px;
  }

  div.footer{
    grid-area:5/auto;
    width:700px;
  }

  
  div.grid-item1{
    grid-area:1/auto;
    text-size:500px;
    text-align:center;
  }

  div.grid-item2{
    display:none;
  }

  div.grid-item3{
    grid-area:3/auto;
  }

  h1{
    font-size:75px;
  }
  p{
    font-size:30px;
  }
  .footer{
    display:container
    grid-area:5/auto;;
  }
  
  div.contact-details{
    text-align:center;
  }
  
  div.footer-content{
   align:right;
}
   #bannerimg1{
     display:none;
    }
    #bannerimg2{
     display:none;
    }

}
 
  