
html{
  height: 100%;
  width: 100%;
}
a{
  padding-right:30px; 
}

h1.one{
  color:white;
  font-family: cormorant;
  font-size:50px;
  text-align:center;
  background-color: rgba(181, 110, 100, 0.5);
  display:inline-block;
  margin-left:25%;
}


h1.two{
  color:white;
  font-family: cormorant;
  font-size:50px;
  text-align:center;
  background-color: rgba(181, 110, 100, 0.5);
  display:inline-block;
  margin-left:25%;
}

h1.grid-item1{
  font-size:100px;
}

h2{
  color:white;
  text-align:center;
  font-family:bentham;
}


h3{
  font-size:60px;
  font-family:cormorant;
}

p{
  font-family:bentham;
  text-align:left;
  font-size:20px;
}

p.footer{
  text-align:center;
}

#bannerimg1{
  width:150px;
  height:150px;
}
#bannerimg2{
  width:150px;
  height:150px;
}

#cherryBlossom{
  width:300px;
  height:400px;
  transition:filter 2s;
  padding:15px;
}
#streetView{
  width:200px;
  height:300px;
  transition: filter 2s;
  padding:10px;
}

#schoolImg{
  width:400px;
  height:400px;
  transition:filter, height 2s;
  padding:15px;
}

#sticker{
  margin:auto;
}

 img:hover{
   filter:brightness(70%);
 }


.header{
  border:1px solid;
   background-image:url(images/aj-McsNra2VRQQ-unsplash.jpg);
  background-size:auto;
}


/***code for responsive navbar***/

.navbar{
  border: 1px solid;
  width:100%;
  background-color:#b56e64;
  font-family:cormorant;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 20px;
  padding-left:50px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #d2bcbc;
}

.navbar a.active{
  background-color: #7c5f71;
  text-decoration:underline;
}
@media screen and (min-width: 600px){
.topnav{
  display:none;
}
}
@media screen and (max-width: 600px) {

  .navbar{
    display:none;
  }
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color:black;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    border: 1px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #a89999;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color:#b56e64;
    color: white;
  }

}

.container{
  display:grid;
  border:1px solid;
  background-color:ivory;
}

.grid-item1{
  grid-area:2/1/auto;
  padding:15px;
}

.grid-item2{
  grid-area:2/2/auto;
  padding:10px;
}

.grid-item3{
  grid-area:3/1;
  text-align:left;
  padding-left:10px;
}

.grid-item4{
  grid-area:3/2;
  padding:10px;
}


.footer{
  background-color:#B56E64;
}
li.footer{
  color:white;
}

.footer-image{
  width:500px;
  height:350px;
  display:inline-block;
  vertical-align: middle;
  padding:5px;
}


/***mobile device display***/
@media screen and (max-width :600px) {

  body{
    display:inline-grid;
    width:100%;
  }
 
  div.grid-item1{
    grid-area:1/auto;
    padding:10px;
  }

  div.grid-item2{
    grid-area:2/auto;
    padding:10px;
  }

  div.grid-item3{
    grid-area:3/auto;
    padding:10px;
  }

  div.grid-item4{
    grid-area:4/auto;
    padding:10px;
  }
  h1{
    font-size:75px;
  }
  p{
    font-size:25px;
  }

  
    #bannerimg1{
     display:none;
    }
    #bannerimg2{
     display:none;
    }

    #schoolImg{
       display:none;
    }
  h1.one{
    margin-left:15%;
  }
  h1.two{
    margin-left:15%;
  }
}

  